<div class="post">
  <div class="post-author-name" [innerHTML]="post.createdBy.username"></div>

  <!-- TIPS: [ngStyle]="{'background-image': url(...) }" -->
  <div class="post-author-photo"  [ngStyle]="{'background-image': 'url('+post.createdBy.photoUrl+')'}"></div>
  <div class="post-date" [innerHTML]="post.createdAt"></div>

  <div class="post-user-like">
    <i nz-icon nzType="heart" [nzTheme]="post.liked ? 'fill' : 'outline'" (click)="like()"></i>
  </div>

  <p class="post-text" [innerHTML]="post.message.text.content"></p>

  <!-- Itérer sur les "attachements" du message -->
  <div class="post-attachements" *ngFor="let element of post.message.attachements">
    <!-- Utiliser ngIf pour afficher le bon composant en fonction du type d'élément-->
    <app-post-attachement-video *ngIf="element.type == 'video'" [element]="element">
    </app-post-attachement-video>
    <app-post-attachement-audio *ngIf="element.type == 'audio'" [element]="element">
    </app-post-attachement-audio>
    <app-post-attachement-image *ngIf="element.type == 'image'" [element]="element">
    </app-post-attachement-image>
    <app-post-attachement-youtube *ngIf="element.type == 'youtube'" [element]="element"> 
    </app-post-attachement-youtube>
  </div>
  <div #anchor></div>
  <script src="https://www.youtube.com/iframe_api"></script>
</div>
